* {
  box-sizing: border-box; }

html, body {
  font-family: 'Open Sans', sans-serif; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.wrapper {
  width: 60vw;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

a {
  text-decoration: none;
  color: #787878; }
  a:hover {
    color: #d9686b; }

/* Page dividers --------*/
.b_separator {
  width: 65vw;
  margin: 0 auto;
  border-bottom: 1px solid #787878; }

.w_separator {
  width: 70vw;
  margin: 5rem auto 1rem auto;
  border-bottom: 1px solid #ffffff; }

/* Header ----------*/
#top_header {
  height: 3.5rem;
  width: 100vw;
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: #ffffff; }
  #top_header .header_wrapper {
    width: 100%;
    margin: 0 auto; }
    #top_header .header_wrapper #main_nav {
      float: right;
      margin: 1rem 3rem; }
      #top_header .header_wrapper #main_nav a {
        margin: 0 1em; }

/* Banner -----------*/
#banner {
  width: 100vw;
  height: 80vh;
  background: url(../assets/images/baltimore_bg.jpg) no-repeat center;
  background-size: cover; }
  #banner .content .title {
    color: #ffffff;
    font-size: 4.5em;
    padding-top: .9em; }
    #banner .content .title .second {
      display: block;
      font-size: 1em; }
    #banner .content .title .third {
      display: block;
      font-size: .32em;
      margin-top: .5em; }

/* Bio section ---------*/
#bio {
  margin: 3rem 0; }
  #bio #avatar {
    float: left;
    width: 200px;
    height: 200px;
    background: url(../assets/images/avatar.jpg) no-repeat center;
    background-size: cover; }
  #bio .content h3 {
    margin: 0;
    padding: 0 7em;
    color: #4d6683;
    font-size: 2rem;
    font-weight: 500; }
  #bio .content .description {
    font-size: 1.2rem;
    color: #787878;
    padding-left: 11.7em; }
  #bio .links {
    padding-left: 14em;
    margin-top: 2rem; }
    #bio .links a {
      font-size: 1.2rem;
      margin-right: 6rem; }
    #bio .links .blog,
    #bio .links .linkedin {
      font-size: 1.2rem;
      margin-right: .5rem; }

/* Skills section ----------*/
#skills {
  margin: 2rem 0; }
  #skills h2 {
    text-align: center;
    margin: 0 0 2rem 0;
    font-size: 3rem;
    font-weight: 400;
    color: #d9686b; }
  #skills #skill-icons {
    position: relative;
    left: 50%;
    margin-left: -250px; }
    #skills #skill-icons .icon {
      margin: 0 5px;
      width: 90px;
      height: 90px;
      display: inline-block;
      text-indent: 100%;
      overflow: hidden;
      white-space: nowrap; }
    #skills #skill-icons #ps-icon {
      background: url(../assets/icons/PS_icon.jpg) no-repeat center;
      background-size: cover; }
    #skills #skill-icons #ai-icon {
      background: url(../assets/icons/AI_icon.jpg) no-repeat center;
      background-size: cover; }
    #skills #skill-icons #html-icon {
      background: url(../assets/icons/HTML_icon.jpg) no-repeat center;
      background-size: cover; }
    #skills #skill-icons #css-icon {
      background: url(../assets/icons/CSS_icon.jpg) no-repeat center;
      background-size: cover; }
    #skills #skill-icons #js-icon {
      background: url(../assets/icons/JS_icon.svg) no-repeat center;
      background-size: cover; }
  #skills .skill-content h3 {
    margin-top: 3rem;
    text-align: center;
    color: #4d6683;
    font-size: 2rem;
    font-weight: 500; }
  #skills .skill-content .description {
    font-size: 1.2rem;
    color: #787878;
    text-align: center;
    padding: 0 10rem; }
  #skills .skill-content .links {
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem 0 4rem 0; }

/* Projects section --------- */
#projects {
  width: 100%;
  background-color: #000000;
  padding: 2rem 0 5rem 0;
  color: #ffffff; }
  #projects h2 {
    color: #d9686b;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0; }
  #projects h4 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0; }
  #projects .project-highlight {
    width: 100%; }
    #projects .project-highlight .project-title {
      width: 100%; }
      #projects .project-highlight .project-title h3 {
        display: inline-block;
        text-decoration: underline;
        font-weight: 500;
        font-size: 1.2rem;
        margin: 3rem 0 1.5rem 0; }
        #projects .project-highlight .project-title h3 a {
          color: #ffffff; }
          #projects .project-highlight .project-title h3 a:hover {
            color: #d9686b; }
      #projects .project-highlight .project-title .skill-tags {
        float: right;
        margin: 3rem 0 1.5rem 0; }
        #projects .project-highlight .project-title .skill-tags img {
          height: 25px; }
    #projects .project-highlight .project-content {
      position: relative; }
      #projects .project-highlight .project-content #chat-room-thumbnail {
        position: absolute;
        z-index: 1;
        width: 45%; }
      #projects .project-highlight .project-content #design-thumbnails .portfolio {
        position: absolute;
        z-index: 1;
        width: 35%;
        top: 0;
        left: 0; }
      #projects .project-highlight .project-content #design-thumbnails .bike {
        position: absolute;
        z-index: 2;
        width: 35%;
        top: 2.5rem;
        left: 2.5rem; }
      #projects .project-highlight .project-content #design-thumbnails .space {
        position: absolute;
        z-index: 3;
        width: 35%;
        top: 5rem;
        left: 5rem; }
      #projects .project-highlight .project-content .description {
        padding-left: 25rem; }
      #projects .project-highlight .project-content .links {
        padding-left: 25.5rem;
        margin-top: 2.5rem; }
        #projects .project-highlight .project-content .links a {
          margin-bottom: 1rem;
          color: #ffffff; }
          #projects .project-highlight .project-content .links a:hover {
            color: #d9686b; }
        #projects .project-highlight .project-content .links i {
          font-size: 1.3rem;
          margin-right: 1rem; }
        #projects .project-highlight .project-content .links .fa-github {
          font-size: 1.7rem; }

/* Contact Section ----------*/
#contact {
  padding-bottom: 3rem; }
  #contact h2 {
    text-align: center;
    font-size: 3rem;
    color: #d9686b;
    margin: 1em 0 .15em 0;
    font-weight: 300; }
  #contact h4 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    color: #787878;
    margin: 0 0 2em 0; }
  #contact .links {
    width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    /* Specific styles for slightly smaller icons */ }
    #contact .links div {
      margin: 1rem; }
    #contact .links a {
      font-size: 1.3rem;
      margin-left: 1rem;
      margin-bottom: .5rem; }
    #contact .links i {
      font-size: 2rem; }
    #contact .links p:hover {
      color: #d9686b; }
    #contact .links .blog {
      margin-left: 1.6rem; }
    #contact .links .email {
      margin-left: 1.2rem; }
