* {
  box-sizing: border-box; }

html, body {
  font-family: 'Open Sans', sans-serif; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.wrapper {
  width: 60vw;
  margin: 0 auto;
  overflow: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

a {
  text-decoration: none;
  color: #787878; }
  a:hover {
    color: #d9686b; }

/* Page dividers --------*/
.b_separator {
  width: 65vw;
  margin: 0 auto;
  border-bottom: 1px solid #787878; }

.w_separator {
  width: 70vw;
  margin: 5rem auto 1rem auto;
  border-bottom: 1px solid #ffffff; }

/* Header ----------*/
#top_header {
  height: 3.5rem;
  width: 100vw;
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: #ffffff; }
  #top_header .header_wrapper {
    width: 100%;
    margin: 0 auto; }
    #top_header .header_wrapper .logo {
      float: left;
      font-size: 2rem;
      font-weight: 500;
      margin: .35rem 3rem;
      color: #4d6683; }
      #top_header .header_wrapper .logo:hover {
        color: #d9686b; }
    #top_header .header_wrapper #main_nav {
      float: right;
      margin: 1rem 3rem; }
      #top_header .header_wrapper #main_nav a {
        margin: 0 1em; }

.menu {
  display: none; }

/* Banner -----------*/
#banner {
  width: 100vw;
  height: 90vh;
  background: url(../assets/images/baltimore_bg.jpg) no-repeat center;
  background-size: cover; }
  #banner .content {
    position: absolute;
    top: 10%;
    left: 22%; }
    #banner .content .title {
      color: #ffffff;
      font-size: 5em; }
      #banner .content .title .second {
        display: block;
        font-size: 1em; }
      #banner .content .title .third {
        display: block;
        font-size: .32em;
        margin-top: .5em; }

/* Bio section ---------*/
#bio {
  margin: 3rem 0; }
  #bio #avatar {
    float: left;
    width: 200px;
    height: 200px;
    background: url(../assets/images/avatar.jpg) no-repeat center;
    background-size: cover; }
  #bio .content h3 {
    margin: 0;
    padding: 0 7em;
    color: #4d6683;
    font-size: 2rem;
    font-weight: 500; }
  #bio .content .description {
    font-size: 1.2rem;
    color: #787878;
    padding-left: 11.7em; }
  #bio .links {
    padding-left: 14em;
    margin-top: 2rem; }
    #bio .links a {
      font-size: 1.2rem;
      margin-right: 18%; }
    #bio .links .blog,
    #bio .links .linkedin {
      font-size: 1.2rem;
      margin-right: .5rem; }

/* Skills section ----------*/
#skills {
  margin: 2rem 0; }
  #skills h2 {
    text-align: center;
    margin: 0 0 2rem 0;
    font-size: 3rem;
    font-weight: 400;
    color: #d9686b; }
  #skills #skill-icons {
    position: relative;
    left: 50%;
    margin-left: -250px; }
    #skills #skill-icons .icon {
      margin: 0 5px;
      width: 90px;
      height: 90px;
      display: inline-block;
      text-indent: 100%;
      overflow: hidden;
      white-space: nowrap; }
    #skills #skill-icons #ps-icon {
      background: url(../assets/icons/PS_icon.svg) no-repeat center;
      background-size: cover; }
    #skills #skill-icons #ai-icon {
      background: url(../assets/icons/AI_icon.svg) no-repeat center;
      background-size: cover; }
    #skills #skill-icons #html-icon {
      background: url(../assets/icons/HTML_icon.svg) no-repeat center;
      background-size: cover; }
    #skills #skill-icons #css-icon {
      background: url(../assets/icons/CSS_icon.svg) no-repeat center;
      background-size: cover; }
    #skills #skill-icons #js-icon {
      background: url(../assets/icons/JS_icon.svg) no-repeat center;
      background-size: cover; }
  #skills .skill-content h3 {
    margin-top: 3rem;
    text-align: center;
    color: #4d6683;
    font-size: 2rem;
    font-weight: 500; }
  #skills .skill-content .description {
    font-size: 1.2rem;
    color: #787878;
    text-align: center;
    padding: 0 10rem; }
  #skills .skill-content .links {
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem 0 4rem 0; }

/* Projects section --------- */
#projects {
  width: 100%;
  background-color: #000000;
  padding: 2rem 0 5rem 0;
  color: #ffffff; }
  #projects h2 {
    color: #d9686b;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0; }
  #projects h4 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0; }
  #projects .project-highlight {
    width: 100%; }
    #projects .project-highlight .project-title {
      width: 100%; }
      #projects .project-highlight .project-title h3 {
        display: inline-block;
        text-decoration: underline;
        font-weight: 500;
        font-size: 1.2rem;
        margin: 3rem 0 1.5rem 0; }
        #projects .project-highlight .project-title h3 a {
          color: #ffffff; }
          #projects .project-highlight .project-title h3 a:hover {
            color: #d9686b; }
      #projects .project-highlight .project-title .skill-tags {
        float: right;
        margin: 3rem 0 1.5rem 0; }
        #projects .project-highlight .project-title .skill-tags img {
          height: 25px; }
    #projects .project-highlight .project-content {
      position: relative; }
      #projects .project-highlight .project-content #chat-room-thumbnail {
        position: absolute;
        z-index: 1;
        width: 45%; }
        #projects .project-highlight .project-content #chat-room-thumbnail:hover {
          box-shadow: 5px 5px 15px #787878; }
      #projects .project-highlight .project-content #design-thumbnails .portfolio_thumbnail {
        position: absolute;
        z-index: 1;
        width: 35%;
        top: 0;
        left: 0; }
        #projects .project-highlight .project-content #design-thumbnails .portfolio_thumbnail:hover {
          box-shadow: 5px 5px 15px #787878;
          -webkit-animation: slideup 1s ease;
                  animation: slideup 1s ease;
          -webkit-animation-fill-mode: forwards;
                  animation-fill-mode: forwards; }
@-webkit-keyframes slideup {
  from {
    top: 0; }
  to {
    top: -1.5rem; } }
@keyframes slideup {
  from {
    top: 0; }
  to {
    top: -1.5rem; } }
      #projects .project-highlight .project-content #design-thumbnails .bike_thumbnail {
        position: absolute;
        z-index: 2;
        width: 35%;
        top: 2.5rem;
        left: 2.5rem; }
        #projects .project-highlight .project-content #design-thumbnails .bike_thumbnail:hover {
          box-shadow: 5px 5px 15px #787878;
          -webkit-animation: slideup2 1s ease;
                  animation: slideup2 1s ease;
          -webkit-animation-fill-mode: forwards;
                  animation-fill-mode: forwards; }
@-webkit-keyframes slideup2 {
  from {
    top: 2.5rem; }
  to {
    top: 0rem; } }
@keyframes slideup2 {
  from {
    top: 2.5rem; }
  to {
    top: 0rem; } }
      #projects .project-highlight .project-content #design-thumbnails .space_thumbnail {
        position: absolute;
        z-index: 3;
        width: 35%;
        top: 5rem;
        left: 5rem; }
        #projects .project-highlight .project-content #design-thumbnails .space_thumbnail:hover {
          box-shadow: 5px 5px 15px #787878;
          -webkit-animation: slideup3 1s ease;
                  animation: slideup3 1s ease;
          -webkit-animation-fill-mode: forwards;
                  animation-fill-mode: forwards; }
@-webkit-keyframes slideup3 {
  from {
    top: 5rem; }
  to {
    top: 2.5rem; } }
@keyframes slideup3 {
  from {
    top: 5rem; }
  to {
    top: 2.5rem; } }
      #projects .project-highlight .project-content .description {
        padding-left: 25rem; }
      #projects .project-highlight .project-content .links {
        padding-left: 25.5rem;
        margin-top: 2.5rem; }
        #projects .project-highlight .project-content .links a {
          margin-bottom: 1rem;
          color: #ffffff; }
          #projects .project-highlight .project-content .links a:hover {
            color: #d9686b; }
        #projects .project-highlight .project-content .links i {
          font-size: 1.3rem;
          margin-right: 1rem; }
        #projects .project-highlight .project-content .links .fa-github {
          font-size: 1.7rem; }

/* Contact Section ----------*/
#contact {
  padding-bottom: 3rem; }
  #contact h2 {
    text-align: center;
    font-size: 3rem;
    color: #d9686b;
    margin: 1em 0 .15em 0;
    font-weight: 300; }
  #contact h4 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    color: #787878;
    margin: 0 0 1.5em 0; }
  #contact .links {
    width: 60vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* Specific styles for slightly smaller icons */ }
    #contact .links div {
      margin: .5rem 2rem; }
    #contact .links a {
      font-size: 1.3rem;
      margin-left: 1rem;
      margin-bottom: .5rem; }
    #contact .links i {
      font-size: 2rem; }
    #contact .links .space {
      margin-left: 1.2rem; }
    #contact .links .blog {
      margin-left: 1.6rem; }
    #contact .links .email {
      margin-left: 1.2rem; }

/* Media Queries ------*/
/*---------------------- M ---------------*/
@media only screen and (max-width: 1225px) {
  .wrapper {
    width: 70vw; }

  /* Projects section --------- */
  #projects .project-highlight .project-content {
    padding: 2rem 0 3rem 0; }
    #projects .project-highlight .project-content .description {
      padding-left: 27.5rem; }
    #projects .project-highlight .project-content .links {
      padding-left: 28rem;
      margin-top: 2.5rem; } }
/*---------------- More M -----------*/
@media only screen and (max-width: 1050px) {
  .wrapper {
    width: 85vw; }

  .w_separator {
    width: 80vw;
    margin: 2rem auto 1rem auto; }

  /* Banner -----------*/
  #banner .content {
    top: 12%;
    left: 20%; }
    #banner .content .title {
      color: #ffffff;
      font-size: 4.5em; }

  /* Contact Section ----------*/
  #contact .links {
    width: 70vw; } }
/*---------------- S -----------*/
@media only screen and (max-width: 900px) {
  .wrapper {
    width: 90vw; }

  /* Banner -----------*/
  #banner .content {
    top: 15%;
    left: 20%; }
    #banner .content .title {
      font-size: 4em; }

  /* Contact Section ----------*/
  #contact .links {
    width: 85vw; } }
/*---------------- More S -----------*/
@media only screen and (max-width: 815px) {
  /* Page dividers --------*/
  .b_separator {
    width: 80vw; }

  .w_separator {
    width: 80vw; }

  /* Banner -----------*/
  #banner .content {
    top: 15%;
    left: 15%; }
    #banner .content .title {
      font-size: 4em; }

  /* Bio section ---------*/
  #bio .links a {
    font-size: 1.2rem;
    margin-right: 8%; }

  /* Skills section ----------*/
  #skills .skill-content .description {
    padding: 0 6rem; }

  /* Projects section --------- */
  #projects .project-highlight .project-content .description {
    padding-left: 24.5rem; }
  #projects .project-highlight .project-content .links {
    padding-left: 25rem; } }
/*-----------------------Tablet ---------------*/
@media only screen and (max-width: 750px) {
  /* Page dividers --------*/
  .w_separator {
    width: 85vw;
    margin: 0 auto 1rem auto;
    border-bottom: 1px solid #ffffff; }

  /* Bio section ---------*/
  #bio #avatar {
    float: none;
    margin: 0 auto; }
  #bio .content h3 {
    margin: 1rem 0;
    text-align: center;
    padding: 0; }
  #bio .content .description {
    padding: 0 2.5em;
    text-align: center; }
  #bio .links {
    padding-left: 10%;
    text-align: center; }

  /* Skills section ----------*/
  #skills .skill-content .description {
    padding: 0 4rem; }

  /* Projects section --------- */
  #projects {
    padding: 2rem 0 1rem 0; }
    #projects h2 {
      text-align: center; }
    #projects h4 {
      text-align: center;
      margin-bottom: 1rem; }
    #projects .project-highlight {
      width: 100%; }
      #projects .project-highlight .project-title {
        width: 96%; }
        #projects .project-highlight .project-title h3 {
          margin: 3rem 0 1.5rem 2rem; }
      #projects .project-highlight .project-content #chat-room-thumbnail {
        position: absolute;
        left: 18%;
        z-index: 1;
        width: 65%; }
        #projects .project-highlight .project-content #chat-room-thumbnail:hover {
          box-shadow: 5px 5px 15px #787878; }
      #projects .project-highlight .project-content #design-thumbnails .portfolio_thumbnail {
        width: 40%;
        left: 25%; }
      #projects .project-highlight .project-content #design-thumbnails .bike_thumbnail {
        width: 40%;
        left: 30%; }
      #projects .project-highlight .project-content #design-thumbnails .space_thumbnail {
        width: 40%;
        left: 35%; }
      #projects .project-highlight .project-content .description {
        padding: 0 3rem;
        text-align: center;
        margin-top: 18rem; }
      #projects .project-highlight .project-content .links {
        padding: 0 2rem;
        margin: 2.5rem 0 0 26%; }
        #projects .project-highlight .project-content .links a {
          margin: 0 1rem; }
        #projects .project-highlight .project-content .links i {
          margin: 0 -0.2rem 0 0; }

  /* Contact Section ----------*/
  #contact .links {
    width: 90vw;
    /* Specific styles for slightly smaller icons */ }
    #contact .links div {
      margin: .5rem .5rem; }
    #contact .links a {
      font-size: 1rem;
      margin-left: 1rem;
      margin-bottom: .5rem; }
    #contact .links i {
      font-size: 1.8rem; }
    #contact .links .space {
      margin-left: 1.2rem; }
    #contact .links .blog {
      margin-left: 1.3rem; } }
/*-----------------------Mobile L ---------------*/
@media only screen and (max-width: 580px) {
  /* Header -------------*/
  .menu {
    display: block;
    float: right; }
    .menu i {
      font-size: 1.5rem;
      color: #4d6683;
      margin: 1rem 3rem; }

  #top_header.active {
    height: 18.5rem; }
    #top_header.active .header_wrapper #main_nav.active {
      display: block;
      width: 100%;
      margin: 0;
      text-align: center;
      font-size: 1.2rem; }
      #top_header.active .header_wrapper #main_nav.active a {
        display: block;
        padding: 1rem 0;
        border-bottom: 1px solid #787878; }
        #top_header.active .header_wrapper #main_nav.active a:last-child {
          border-bottom: none; }

  #main_nav {
    display: none; }

  /* Bio section ---------*/
  #bio .content .description {
    padding: 0; }

  /* Skills section ----------*/
  #skills h2 {
    font-size: 2.7rem; }
  #skills #skill-icons {
    left: 60%; }
    #skills #skill-icons .icon {
      width: 70px;
      height: 70px; }
  #skills .skill-content .description {
    padding: 0; }

  /* Projects section --------- */
  #projects .project-highlight .project-title {
    width: 100%; }
    #projects .project-highlight .project-title h3 {
      display: block;
      font-size: 1.6rem;
      text-align: center;
      margin: 3rem 0 1.5rem 0; }
    #projects .project-highlight .project-title .skill-tags {
      float: none;
      margin: 0 auto 1rem auto;
      text-align: center; }
      #projects .project-highlight .project-title .skill-tags img {
        height: 30px; }
  #projects .project-highlight .project-content #chat-room-thumbnail {
    position: absolute;
    left: 7%;
    z-index: 1;
    width: 85%; }
    #projects .project-highlight .project-content #chat-room-thumbnail:hover {
      box-shadow: 5px 5px 15px #787878; }
  #projects .project-highlight .project-content #design-thumbnails .portfolio_thumbnail {
    width: 60%;
    left: 10%; }
  #projects .project-highlight .project-content #design-thumbnails .bike_thumbnail {
    width: 50%;
    left: 25%; }
  #projects .project-highlight .project-content #design-thumbnails .space_thumbnail {
    width: 50%;
    left: 40%; }
  #projects .project-highlight .project-content .description {
    padding: 0;
    font-size: 1.1rem; }
  #projects .project-highlight .project-content .links {
    padding: 0 2rem;
    margin: 2.5rem 0 0 0;
    text-align: center;
    font-size: 1.1rem; }

  /* Contact Section ----------*/
  #contact h4 {
    margin: 0 0 0.5em 0; }
  #contact .links {
    width: 90vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    /* Specific styles for slightly smaller icons */ }
    #contact .links div {
      margin: -0.4rem auto; }
    #contact .links .second-col {
      padding-right: 1rem; }
    #contact .links a {
      font-size: 1.5rem;
      margin-left: 1rem;
      margin-bottom: .5rem; }
    #contact .links i {
      font-size: 1.8rem; }
    #contact .links .space {
      margin-left: 1.2rem; }
    #contact .links .blog {
      margin-left: 1.3rem; } }
/*-----------------------M & S Mobile ---------------*/
@media only screen and (max-width: 480px) {
  /* Banner -----------*/
  #banner .content {
    top: 9%;
    left: 9%; }
    #banner .content .title {
      color: #ffffff;
      font-size: 3.5em; }

  /* Header -------------*/
  #top_header.active .header_wrapper #main_nav.active {
    width: 100%; }

  /* Bio section ---------*/
  #bio .content .description {
    padding: 0; }
  #bio .links {
    padding: 0;
    margin-top: 2rem; }
    #bio .links div a {
      font-size: 1.2rem;
      margin: 0; }
    #bio .links div .blog,
    #bio .links div .linkedin {
      font-size: 1.2rem;
      margin-right: 1rem; }

  /* Skills section ----------*/
  #skills h2 {
    font-size: 2.2rem; }
  #skills #skill-icons {
    left: 66%; }
    #skills #skill-icons .icon {
      width: 60px;
      height: 60px; }

  /* Projects section --------- */
  #projects .project-highlight .project-content #chat-room-thumbnail {
    position: absolute;
    left: 3%;
    width: 95%; }
  #projects .project-highlight .project-content #design-thumbnails .portfolio_thumbnail {
    width: 70%;
    left: 8%;
    top: 5%; }
  #projects .project-highlight .project-content #design-thumbnails .bike_thumbnail {
    width: 60%;
    left: 20%;
    top: 10%; }
  #projects .project-highlight .project-content #design-thumbnails .space_thumbnail {
    width: 60%;
    left: 35%;
    top: 15%; }

  /* Contact Section ----------*/
  #contact h2 {
    font-size: 2.6rem; }
  #contact h4 {
    font-size: 0.9rem; }
  #contact .links {
    width: 90vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    /* Specific styles for slightly smaller icons */ }
    #contact .links div {
      margin: -0.4rem auto; }
    #contact .links .second-col {
      padding-right: 1rem; }
    #contact .links a {
      font-size: 1.5rem;
      margin-left: 1rem;
      margin-bottom: .5rem; }
    #contact .links i {
      font-size: 1.8rem; }
    #contact .links .space {
      margin-left: 1.2rem; }
    #contact .links .blog {
      margin-left: 1.3rem; } }
@media only screen and (max-width: 385px) {
  #banner .content {
    top: 9%;
    left: 9%; }
    #banner .content .title {
      font-size: 3em; }
    #banner .content .third {
      display: block;
      font-size: .3em;
      margin-top: .5em; } }
@media only screen and (max-width: 340px) {
  #banner {
    width: 100vw;
    height: 90vh;
    background: url(../assets/images/baltimore_bg.jpg) no-repeat center;
    background-size: cover; }
    #banner .content .title .second {
      display: block;
      font-size: 1em; }
    #banner .content .title .third {
      display: block;
      font-size: .3em;
      margin-top: .5em; } }
/*-----------------------XL ---------------*/
@media only screen and (min-width: 1450px) {
  /* Banner -----------*/
  #banner {
    width: 100vw;
    height: 90vh;
    background: url(../assets/images/baltimore_bg.jpg) no-repeat center;
    background-size: cover; }
    #banner .content {
      position: absolute;
      top: 12%;
      left: 20%; }
      #banner .content .title {
        color: #ffffff;
        font-size: 7em; }
        #banner .content .title .second {
          display: block;
          font-size: 1em; }
        #banner .content .title .third {
          display: block;
          font-size: .32em;
          margin-top: .5em; }

  #banner .content .title {
    font-size: 5em; }

  /* Projects -----------*/
  #projects .project-highlight .project-content {
    padding: 2rem 0 3rem 0; }
    #projects .project-highlight .project-content .description {
      padding-left: 30rem; }
    #projects .project-highlight .project-content .links {
      padding-left: 31.5rem; } }
/* -------------------- XXL ----------*/
@media only screen and (min-width: 1650px) {
  /* Banner -----------*/
  #banner .content {
    top: 13%;
    left: 22%; }
    #banner .content .title {
      font-size: 7em; }

  /* Bio section ---------*/
  #bio {
    margin: 5rem 0; }
    #bio .wrapper {
      width: 50vw; }

  /* Skills section ----------*/
  #skills .skill-content .description {
    padding: 0 15rem; }

  /* Projects -----------*/
  #projects .project-highlight .project-content {
    padding: 2rem 0 9rem 0; }
    #projects .project-highlight .project-content .description {
      padding-left: 36rem; }
    #projects .project-highlight .project-content .links {
      padding-left: 37.5rem; } }
/* -------------------- Massive ----------*/
@media only screen and (min-width: 2000px) {
  .wrapper {
    width: 40vw; }

  /* Bio section ---------*/
  #bio {
    margin: 5rem 0; }
    #bio .wrapper {
      width: 40vw; } }
#contact .links {
  width: 41vw; }
