$main: #4d6683;
$secondary: #d9686b;
$tertiary: #787878;
$black: #000000;
$white: #ffffff;

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans', sans-serif;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper{
  width: 60vw;
  margin: 0 auto;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: $tertiary;
  &:hover {
    color: $secondary;
  }
}

/* Page dividers --------*/

.b_separator {
  width: 65vw;
  margin: 0 auto;
  border-bottom: 1px solid $tertiary;
}

.w_separator {
  width: 70vw;
  margin: 5rem auto 1rem auto;
  border-bottom: 1px solid $white;
}

/* Header ----------*/

#top_header {
  height: 3.5rem;
  width: 100vw;
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: $white;
  .header_wrapper {
    width: 100%;
    margin: 0 auto;
    .logo {
      float: left;
      font-size: 2rem;
      font-weight: 500;
      margin: .35rem 3rem;
      color: $main;
      &:hover {
        color: $secondary;
      }

    }
    #main_nav {
      float: right;
      margin: 1rem 3rem;
      a {
        margin: 0 1em;
      }
    }
  }
}

.menu {
  display: none;
}

/* Banner -----------*/

#banner {
  width: 100vw;
  height: 90vh;
  background: url(../assets/images/baltimore_bg.jpg) no-repeat center;
  background-size: cover;
  .content {
    position: absolute;
    top: 12%;
    left: 20%;
    .title {                 // Title in ems to create that triangle effect.
      color: $white;
      font-size: 4.5em;
      .second {
        display: block;      // Make a newline.
        font-size: 1em;
      }
      .third {
        display: block;      // Make another newline.
        font-size: .32em;
        margin-top: .5em;
      }
    }
  }
}

/* Bio section ---------*/

#bio {
  margin: 3rem 0;
  #avatar {
    float: left;
    width: 200px;
    height: 200px;
    background: url(../assets/images/avatar.jpg) no-repeat center;
    background-size: cover;
  }
  .content {
    h3 {
      margin: 0;
      padding: 0 7em;
      color: $main;
      font-size: 2rem;
      font-weight: 500;
    }
    .description {
      font-size: 1.2rem;
      color: $tertiary;
      padding-left: 11.7em;
    }
  }
  .links {
    padding-left: 14em;
    margin-top: 2rem;
    a {
      font-size: 1.2rem;
      margin-right: 18%; //6rem
    }
    .blog,
    .linkedin {
      font-size: 1.2rem;
      margin-right: .5rem;
    }
  }
}

/* Skills section ----------*/

#skills {
  margin: 2rem 0;
  h2 {
    text-align: center;
    margin: 0 0 2rem 0;
    font-size: 3rem;
    font-weight: 400;
    color: $secondary;
  }
  #skill-icons {
    position: relative;
    left: 50%;
    margin-left: -250px;
    .icon {
      margin: 0 5px;
      width: 90px;
      height: 90px;
      display: inline-block;
      // Hide text
      text-indent: 100%;
      overflow: hidden;
      white-space: nowrap;
    }

    #ps-icon {
      background: url(../assets/icons/PS_icon.svg) no-repeat center;
      background-size: cover;
    }
    #ai-icon {
      background: url(../assets/icons/AI_icon.svg) no-repeat center;
      background-size: cover;
    }
    #html-icon {
      background: url(../assets/icons/HTML_icon.svg) no-repeat center;
      background-size: cover;
    }
    #css-icon {
      background: url(../assets/icons/CSS_icon.svg) no-repeat center;
      background-size: cover;
    }
    #js-icon {
      background: url(../assets/icons/JS_icon.svg) no-repeat center;
      background-size: cover;
    }
  }
  .skill-content {
    h3 {
      margin-top: 3rem;
      text-align: center;
      color: $main;
      font-size: 2rem;
      font-weight: 500;
    }
    .description {
      font-size: 1.2rem;
      color: $tertiary;
      text-align: center;
      padding: 0 10rem;
    }
    .links {
      text-align: center;
      font-size: 1.2rem;
      margin: 1rem 0 4rem 0;
    }
  }
}

/* Projects section --------- */

#projects {
  width: 100%;
  background-color: $black;
  padding: 2rem 0 5rem 0;
  color: $white;
  h2 {
    color: $secondary;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
  }
  h4 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
  }
  .project-highlight {
    width: 100%;
    .project-title {
      width: 100%;
      h3 {
        display: inline-block;
        text-decoration: underline;
        font-weight: 500;
        font-size: 1.2rem;
        margin: 3rem 0 1.5rem 0;
        a {
          color: $white;
          &:hover {
            color: $secondary;
          }
        }
      }
      .skill-tags {
        float: right;
        margin: 3rem 0 1.5rem 0;
        img {
          height: 25px;
        }
      }
    }
    .project-content {
      position: relative;
      #chat-room-thumbnail {
        position: absolute;
        z-index: 1;
        width: 45%;
        &:hover {
          box-shadow: 5px 5px 15px $tertiary;
        }
      }
      #design-thumbnails {
        .portfolio_thumbnail {
          position: absolute;
          z-index: 1;
          width: 35%;
          top: 0;
          left: 0;
          &:hover {
            box-shadow: 5px 5px 15px $tertiary;
            animation: slideup 1s ease;
            animation-fill-mode: forwards;
            @keyframes slideup {
              from { top: 0; }
              to { top: -1.5rem; }
            }
          }
        }
        .bike_thumbnail {
          position: absolute;
          z-index: 2;
          width: 35%;
          top: 2.5rem;
          left: 2.5rem;
          &:hover {
            box-shadow: 5px 5px 15px $tertiary;
            animation: slideup2 1s ease;
            animation-fill-mode: forwards;
            @keyframes slideup2 {
              from { top: 2.5rem; }
              to { top: 0rem; }
            }
          }
        }
        .space_thumbnail {
          position: absolute;
          z-index: 3;
          width: 35%;
          top: 5rem;
          left: 5rem;
          &:hover {
            box-shadow: 5px 5px 15px $tertiary;
            animation: slideup3 1s ease;
            animation-fill-mode: forwards;
            @keyframes slideup3 {
              from { top: 5rem; }
              to { top: 2.5rem; }
            }
          }
        }
      }
      .description {
        padding-left: 25rem;
      }
      .links {
        padding-left: 25.5rem;
        margin-top: 2.5rem;
        a {
          margin-bottom: 1rem;
          color: $white;
          &:hover {
            color: $secondary;
          }
        }
        i {
          font-size: 1.3rem;
          margin-right: 1rem;
        }
        .fa-github {
          font-size: 1.7rem;
        }
      }
    }
  }
}

/* Contact Section ----------*/

#contact {
  padding-bottom: 3rem;
  h2 {
    text-align: center;
    font-size: 3rem;
    color: $secondary;
    margin: 1em 0 .15em 0;
    font-weight: 300;
  }
  h4 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    color: $tertiary;
    margin: 0 0 1.5em 0;
  }
  .links {
    width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    div {
      margin: .5rem 2rem;
    }
    a {
      font-size: 1.3rem;
      margin-left: 1rem;
      margin-bottom: .5rem;
    }
    i {
      font-size: 2rem;
    }
    .space {
      margin-left: 1.2rem;
    }
    /* Specific styles for slightly smaller icons */
    .blog {
      margin-left: 1.6rem;
    }
    .email {
      margin-left: 1.2rem;
    }
  }
}

/* Media Queries ------*/


/*---------------------- M ---------------*/
@media only screen and (max-width: 1225px) {

  .wrapper {
    width: 70vw;
  }

  /* Projects section --------- */

  #projects {
    .project-highlight {
      .project-content {
        padding: 2rem 0 3rem 0;
        .description {
          padding-left: 27.5rem;
        }
        .links {
          padding-left: 28rem;
          margin-top: 2.5rem;
        }
      }
    }
  }

}

/*---------------- More M -----------*/
@media only screen and (max-width: 1050px) {

  .wrapper {
    width: 85vw;
  }

  .w_separator {
    width: 80vw;
    margin: 2rem auto 1rem auto;
  }

  /* Contact Section ----------*/

  #contact {
    .links {
      width: 70vw;
    }
  }

}

/*---------------- S -----------*/
@media only screen and (max-width: 900px) {

  .wrapper {
    width: 90vw;
  }

  /* Banner -----------*/

  #banner {
    .content {
      top: 15%;
      left: 20%;
      .title {
        font-size: 4em;
      }
    }
  }

  /* Contact Section ----------*/

  #contact {
    .links {
      width: 85vw;
    }
  }

}

/*---------------- More S -----------*/
@media only screen and (max-width: 815px) {

  /* Page dividers --------*/

  .b_separator {
    width: 80vw;
  }

  .w_separator {
    width: 80vw;
  }

  /* Banner -----------*/

  #banner {
    .content {
      top: 15%;
      left: 15%;
      .title {
        font-size: 4em;
      }
    }
  }

  /* Bio section ---------*/

  #bio {
    .links {
      a {
        font-size: 1.2rem;
        margin-right: 8%;
      }
    }
  }

  /* Skills section ----------*/

  #skills {
    .skill-content {
      .description {
        padding: 0 6rem;
      }
    }
  }

  /* Projects section --------- */

  #projects {
    .project-highlight {
      .project-content {
        .description {
          padding-left: 24.5rem;
        }
        .links {
          padding-left: 25rem;
        }
      }
    }
  }

}

/*-----------------------Tablet ---------------*/

@media only screen and (max-width: 750px) {

  /* Page dividers --------*/

  .w_separator {
    width: 85vw;
    margin: 0 auto 1rem auto;
    border-bottom: 1px solid $white;
  }

  /* Bio section ---------*/

  #bio {
    #avatar {
      float: none;
      margin: 0 auto;
    }
    .content {
      h3 {
        margin: 1rem 0;
        text-align: center;
        padding: 0;
      }
      .description {
        padding: 0 2.5em;
        text-align: center;
      }
    }
    .links {
      padding-left: 10%;
      text-align: center;
    }
  }

  /* Skills section ----------*/

  #skills {
    .skill-content {
      .description {
        padding: 0 4rem;
      }
    }
  }

  /* Projects section --------- */

  #projects {
    padding: 2rem 0 1rem 0;
    h2 {
      text-align: center;
    }
    h4 {
      text-align: center;
      margin-bottom: 1rem;
    }
    .project-highlight {
      width: 100%;
      .project-title {
        width: 96%;
        h3 {
          margin: 3rem 0 1.5rem 2rem;
        }
      }
      .project-content {
        #chat-room-thumbnail {
          position: absolute;
          left: 18%;
          z-index: 1;
          width: 65%;
          &:hover {
            box-shadow: 5px 5px 15px $tertiary;
          }
        }
        #design-thumbnails {
          .portfolio_thumbnail {
            width: 40%;
            left: 25%;
          }
          .bike_thumbnail {
            width: 40%;
            left: 30%;
          }
          .space_thumbnail {
            width: 40%;
            left: 35%;
          }
        }
        .description {
          padding: 0 3rem;
          text-align: center;
          margin-top: 18rem;
        }
        .links {
          padding: 0 2rem;
          margin: 2.5rem 0 0 26%;
          a {
            margin: 0 1rem;
          }
          i {
            margin: 0 -0.2rem 0 0;
          }
        }
      }
    }
  }

  /* Contact Section ----------*/

  #contact {
    .links {
      width: 90vw;
      div {
        margin: .5rem .5rem;
      }
      a {
        font-size: 1rem;
        margin-left: 1rem;
        margin-bottom: .5rem;
      }
      i {
        font-size: 1.8rem;
      }
      .space {
        margin-left: 1.2rem;
      }
      /* Specific styles for slightly smaller icons */
      .blog {
        margin-left: 1.3rem;
      }
    }
  }

}

/*-----------------------Mobile L ---------------*/
@media only screen and (max-width: 580px) {

  /* Header -------------*/
  .menu {
    display: block;
    float: right;
    i {
      font-size: 1.5rem;
      color: $main;
      margin: 1rem 3rem;
    }
  }

  #top_header.active {
    height: 17.5rem;
    .header_wrapper {
      #main_nav.active {
        display: block;
        width: 60%;
        margin: 0;
        text-align: center;
        a {
          display: block;
          padding: 1rem 0;
          border-bottom: 1px solid $tertiary;
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
  #main_nav {
    display: none;
  }



}


/*-----------------------XL ---------------*/
@media only screen and (min-width: 1450px) {

  /* Banner -----------*/

  #banner {
    width: 100vw;
    height: 90vh;
    background: url(../assets/images/baltimore_bg.jpg) no-repeat center;
    background-size: cover;
    .content {
      position: absolute;
      top: 12%;
      left: 20%;
      .title {                 // Title in ems to create that triangle effect.
        color: $white;
        font-size: 4.5em;
        .second {
          display: block;      // Make a newline.
          font-size: 1em;
        }
        .third {
          display: block;      // Make another newline.
          font-size: .32em;
          margin-top: .5em;
        }
      }
    }
  }

  #banner {
    .content {
      .title {
        font-size: 5em;
      }
    }
  }

  /* Projects -----------*/

  #projects {
    .project-highlight {
      .project-content {
        padding: 2rem 0 3rem 0;
        .description {
          padding-left: 30rem;
        }
        .links {
          padding-left: 31.5rem
        }
      }
    }
  }

}


/* -------------------- XXL ----------*/
@media only screen and (min-width: 1650px) {

  /* Banner -----------*/

  #banner {
    .content {
      top: 10%;
      left: 25%;
      .title {
        font-size: 6em;
      }
    }
  }

  /* Bio section ---------*/

  #bio {
    margin: 5rem 0;
    .wrapper {
      width: 50vw;
    }
  }

  /* Skills section ----------*/

  #skills {
    .skill-content {
      .description {
        padding: 0 15rem;
      }
    }
  }

  /* Projects -----------*/

  #projects {
    .project-highlight {
      .project-content {
        padding: 2rem 0 9rem 0;
        .description {
          padding-left: 36rem;
        }
        .links {
          padding-left: 37.5rem
        }
      }
    }
  }

}
